.MainBody{
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  padding: 100px;
}

.MainIcons{
  text-align: center;

}

.HeaderBar{
  border-bottom: 1px solid
    rgba(0,0,0,0.25);
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
  height: 40px;
  position: relative;
  vertical-align: middle;
  width: 100%;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.Name{
  float: left;
}

.Navigation{
  float: right;
}

h1.Title{
  margin-top: 15%;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}

h2.Title{
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
  font-size: 120%;
}
