<!--index.html-->
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="../static/mainPage.css">
    <title>Emma Bareis</title>
    <style>
    body{
      background-color: rgba(181, 247, 247, 0.64)
    }
    </style>

  </head>

  <body>
    <div class = "HeaderBar">
      <div>
        <div class="Name">
          <a href=/>Emma Bareis</a>
        </div>
        <div class="Navigation">
          <a href=/>Home</a> | <a href=/about>About</a> | <a href=/projects>Stuff I've Done</a> | <a href=/derby>Roller Derby!</a>
        </div>
      </div>
    </div>

    <div>
      <div id="content">
        <h2 class = "Title">About Roller Derby!</h2>
      </div>
        <div class = "AboutBody">
          <div style=text-align:center;float:right><img src="../static/myskates.jpeg" width="300px"><br/>
          <span style=font-size:8pt> My skates.  I love these things</span></div>
          <p>Programming isn't all I like to do!  Since January of 2018, I have joined a roller derby league!  Assassination City Roller Derby!</p>
          <p>What is roller derby?  Basically it's a full-contact sport played on quad wheel roller skates and it's a ton of fun!  Basically each team fields some blockers and a jammer.  The jammer tries to lap the other team's players, faster than the other team's jammer, but the blockers try to prevent that.
          That's where the "full-contact" aspect comes in.  I've seen some unaware jammers go flying at a big hit.  It's all for fun, though, and I'm loving the community around it, as well as skating myself.  It's great exercise, and makes me feel good.</p>
          <div style=float:right;text-align:center><img src="../static/thediamond.jpeg"><br/>
          <span style=font-size:8pt>The most efficient path around the track, a rough diamond shape</span></div>
          <p>To be eligible for league play, and to earn your derby name, you have to have a set of evaluated skills such as stops and skating backwards, know the rules and pass a rules test, and then...the dreaded 27/5.  That's skating 27 laps around the derby track in 5 minutes.  That one's daunting.  So far I've made
            27 in 5:41 as my best.  It's a test of endurance, balance, and will.  By the end of it, your lungs and legs are burning!  You end up going close to a mile in 27 laps, and you have to maintain a fast enough pace to make it in 5 minutes.</p>

          <p>Derby names are always fun; you can pick something that can show off a bit of a playful personality, along with a number you pick out too.  The name I want is "Sailor Doom".</p>


        </div>
    </div>

    </div>
  </body>
</html>
