<!--index.html-->
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="../static/mainPage.css">
    <title>Emma Bareis</title>
    <style>
    body{
      background-color: rgba(181, 247, 247, 0.64)
    }
    </style>

  </head>

  <body>
    <div class = "HeaderBar">
      <div>
        <div class="Name">
          <a href=/>Emma Bareis</a>
        </div>
        <div class="Navigation">
          <a href=/>Home</a> | <a href=/about>About</a> | <a href=/projects>Stuff I've Done</a> | <a href=/derby>Roller Derby!</a>
        </div>
      </div>
    </div>

    <div>

      <object data="../static/{{doc_id}}" type="application/pdf" width="100%" height="100%"></object>

    </div>

    </div>
  </body>
</html>
